:root {
	--accent-dark: #3CA654;
	--bg-dark: #060606;
	--accent-light: #4361ee;
	--bg-light: #f6f7fa;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}
.wrapperTheme {
	background-color: var(--bg-light);
	position: relative;
	height: 100vh;
}

.wrapperTheme.dark {
	background-color: var(--bg-dark);
}
