:root {
	--accent-dark: #3ca654;
	--accent-light: #4361ee;
	--black-logo: #fff;
	--blackBg-logo: #000;
	--bg-light: #f6f7fa;
	--bg-dark: rgb(10, 8, 8);
	--header-border: #e0e0e0;
	--select-lang: #00000015;
	--footer-text: #000;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.container {
	max-width: 1000px;
	width: 100%;
	padding: 0 10px;
	margin: 0 auto;
}
.wrapperTheme {
	background-color: var(--bg-light);
	position: relative;
	height: 100vh;
}
.user__text {
	text-align: center;
	color: var(--footer-text);
}

.wrapperTheme.dark {
	background-color: var(--bg-dark);
	--black-logo: #3ca654;
	--blackBg-logo: #384058;
	--header-border: #3ca654;
	--accent-light: #3ca654;
	--select-lang: #cbffa0;
	--footer-text: #3ca654;
}
